nav {
max-width: 100%;
 height: 200px
}
img {zoom: 20%;
     margin-top: 3%;
   margin-bottom: 15px; 
    
    float: left;}
header {background-color: crimson;
border: 1px;
width: 100%;
height: 50px;
float:left;
clear: both;
}
h2 {float: right;
    margin-right: 45%;


}
.box11 {float: right;}




.box1, .box2, .box3, .box, .box4, 
.box5, .box6 {
    float:left;
    margin: 1px;
    margin-right: 125px;
    
max-width: 1px;
height: 30px; 
margin-top: 60px;
font-size: 17px;
}
.box7 {float:right;
    margin: 2%

zoon 20px;
}
button {margin-top: 4%;
     color: rgb(223, 219, 220); 
    border-radius: 360px;
background-color: rgb(249, 47, 47);
width: 159px;
}




main { background-color: aliceblue;
    background: url(bakcgraun\ img.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-size: cover;



width: 100%;
height: 450px;
border: 1px;

}
.box10 {zoom: 66.5%; 
margin-top: 3px;
background: local;

}
ul {float: left; 
padding: 13px;
margin-top: -5px;
}

div {width: 100%;
height: 500px;



}
a {font-size: 300%;
    padding: 40px;
    margin-bottom: 10%;
    margin-left: 30px;
margin-top: 12%;
}
aside {
width: 100%;
height: 300px;
}
article {background-color: rgb(49, 52, 109);

width: 100%;
height: 200px;
border: 2px solid black;
float: none;
}

.box12, .box13, .box14 {float: right;
zoom: 500px;
 width: 1400px;

}
div {width: 410px;
     float: right; 
      margin-right: 4px; 
height: 200px;
}
footer { background-color: rgb(144, 165, 165);
    border: 2px black color(srgb red green blue);
    width: 100%;
height: 400px;
clear: both;

}
.correo { background-color: rgb(245, 245, 241);
width: 30%;
height: 50px;
border: 2px;
float: right;
margin-top: 5%;
margin-right: 4%;
border-radius: 360px;
}
.box20 {width: 200px;
    color: crimson;
    height: 50px;
  border: 2px black;
  float: right;
  border-radius: 360px;
}
.letter {width: 180px;
height: 45px;
border-radius: 350px;
margin-left: -2px;
}
.nexbox {

height: 100px;
width: 700px;

margin-left: 24px;
margin-top: 4.5%;

}
.logo {zoom: 0%;
margin-left: 26px;
}
h1 { color: azure;
float: right;
zoom: 180%;
margin-right: 10px;
}
.box21 {
width: 30%;
height: 300px;
border: 1px solid black;
display: inline-block;
;
;
}
.box22 {
    width: 30%;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
    ;
    ;}

    .box23 {
        width: 30%;
        height: 300px;
        border: 1px solid black;
        display: inline-block;
        ;
    
    padding: 10px;
    }







p {
margin-top: 50px;
margin-bottom: 10x;
}
















